<div class="container">
    <div class="row justify-content-center">
        {{{pagination}}}
    </div>
    <div class="row">
        <div class="col-md-3">
            <form action="/catalog/search" method="get" name="search" class="search-form needs-validation" novalidate>
                <div class="form-group">
                    <label for="brand">Order by: </label>
                    <select class="form-control" id="order" name="order">
                        <option value="default" {{#equal order "default"}} selected {{/equal}}>Default</option>
                        <option value="name-asc" {{#equal order "name-asc"}} selected {{/equal}}>Name A-Z</option>
                        <option value="name-desc" {{#equal order "name-desc"}} selected {{/equal}}>Name Z-A</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="keyword">Search</label>
                    <input type="text" class="form-control
                    {{#if errors}}
                        {{#each errors}}
                            {{#equal this.param 'keyword'}}
                                is-invalid
                            {{/equal}}
                        {{/each}}
                    {{/if}}
                    " id="keyword" name="keyword" value="{{keyword}}">
                    <div class="invalid-feedback">
                        Keyword must be alphanumeric, and can contain underscores
                    </div>
                </div>
                <div class="form-group">
                    <label for="brand">Brands</label>
                    <select class="form-control" id="brand" name="brand">
                        <option> </option>
                        {{#each brands}}  
                            <option {{#equal this.name ../brand}} selected {{/equal}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <select class="form-control" id="size" name="size">
                        <option> </option>
                        {{#each typeSizes}}
                        <optgroup label={{this.name}}></optgroup>
                            {{#each this.sizes}} 
                                <option {{#equal this.value ../../size}} selected {{/equal}}>{{this.value}}</option>
                            {{/each}}
                        </optgroupt>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg w-100" value="Search">
                </div>
            </form>
        </div>
        <div class="col-md-9 row d-flex justify-content-start">
            {{#if items}}
                {{#each items}}
                    <div class="card m-2" style="width: 16rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">Brand: {{this.brand.name}}</p>
                            <p class="card-text">Type: {{this.type.name}}</p>
                            <p class="card-text">Sizes:
                                <ul>
                                    {{#each this.sizes}}
                                        <li> {{this.value}} </li>
                                    {{/each}}
                                </ul>
                            </p>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p>No result was found!</p>
            {{/if}}
        </div>
    </div>
    <div class="row justify-content-center">
        {{{pagination}}}
    </div>
</div>
<script src="/js/catalog.js"> </script>


